html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  display: flex; }

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.playground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.ui {
  flex-grow: 0; }
  .ui ul {
    display: flex; }
  .ui .ui-panel {
    display: flex; }
    .ui .ui-panel .process {
      flex-grow: 1; }
      .ui .ui-panel .process .process-info {
        background: orange;
        width: 30%;
        height: 100%; }
