html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 0; }

.playground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.ui ul {
  display: flex; }

.ui .ui-panel {
  display: flex; }
  .ui .ui-panel .process {
    flex-grow: 1; }
    .ui .ui-panel .process .process-info {
      background: orange;
      width: 30%;
      height: 100%; }
